@page "/addressmanagement"
<h3>AddressManagement</h3>

<MudPaper Height="800px" Width="100%">
    <div style="display:block; width:100%;">
  <div style="width:50%; float: left; display: inline-block;">
        <MudContainer Fixed=true>
            <MudPaper Height="400px" Width="100%" Square="true" Class="mud-theme-primary">
                Navigation Bar

            </MudPaper>
        </MudContainer>
    </div>
  <div style="width:50%; float: left; display: inline-block;">
      <MudContainer Fixed=true>
        <MudPaper Height="400px" Width="100%" Square="true" Class="mud-theme-secondary">
            Some Detail
            <MudTextField Label="First Name" @bind-Value="newFirstName" Variant="Variant.Text"/>
        <MudTextField Label="Last Name" @bind-Value="newLastName" Variant="Variant.Text" />        
        @*<MudTextField Label="Name Reverse" @bind-Value="NameReverse" Variant="Variant.Text" ReadOnly/>  *@

        </MudPaper>
    </MudContainer></div>
</div>
    
    <MudDivider Vertical="true" FlexItem="true" />


</MudPaper>


@code {

}
