@page "/addressmanagement"
<h3>AddressManagement</h3>

<MudPaper Height="800px" Width="100%">
    <div style="display:block; width:100%;">
  <div style="width:50%; float: left; display: inline-block;">
        <MudContainer Fixed=true>
            <MudPaper Height="400px" Width="100%" Square="true" Class="mud-theme-primary">
                 <MudList Clickable="true" @bind-SelectedItem="selectedItem" @bind-SelectedValue="selectedValue">
                     @if (people == null)
{
    <h3>Loading</h3>
}
else
{
                     @foreach (var person in people)
            {
                <MudListItem Text="@person.FullName" Value="@person.ObjectId" />
            }
}
            </MudList>

            </MudPaper>
        </MudContainer>
    </div>
  <div style="width:50%; float: left; display: inline-block;">
      <MudContainer Fixed=true>
        <MudPaper Height="400px" Width="100%" Square="true" Class="mud-theme-secondary">
            Some Detail
             <MudChip Color="Color.Secondary">
                @(selectedItem?.Text ?? "Nothing selected") (@(selectedValue?.ToString() ?? "0"))
            </MudChip>
            @*<MudTextField Label="First Name" Text="@selectedItem?.Text" Variant="Variant.Text"/>*@

        @*<MudTextField Label="Name Reverse" @bind-Value="NameReverse" Variant="Variant.Text" ReadOnly/>  *@

        </MudPaper>
    </MudContainer></div>
</div>
    
    <MudDivider Vertical="true" FlexItem="true" />


</MudPaper>


@code {

}
